.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 97%;
}

#register__form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem;
    margin: 1rem;
    height: 74rem;
    width: 74rem;
    border: none;
    border-radius: 10px;
    box-shadow:
        0px 0px 2.2px rgba(0, 0, 0, 0.02),
        0px 0px 5.3px rgba(0, 0, 0, 0.028),
        0px 0px 10px rgba(0, 0, 0, 0.035),
        0px 0px 17.9px rgba(0, 0, 0, 0.042),
        0px 0px 33.4px rgba(0, 0, 0, 0.05),
        0px 0px 80px rgba(0, 0, 0, 0.07);
    background-color: var(--color-container);
}

.register__files {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#register__form img {
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    border-radius: 50%;
    border: 2px solid var(--color-green);
    background-color: white;
    object-fit: cover;
    object-position: center;
}

#register__form input {
    margin: 1rem;
    width: 30rem;
    height: 3rem;
    padding: 0 0 0 0.5rem;
}

#register__form button {
    margin: 1rem;
    width: 10rem;
    height: 5rem;
    background-color: var(--color-green);
    color: white;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow:
        0px 0px 2.2px rgba(0, 0, 0, 0.02),
        0px 0px 5.3px rgba(0, 0, 0, 0.028),
        0px 0px 10px rgba(0, 0, 0, 0.035),
        0px 0px 17.9px rgba(0, 0, 0, 0.042),
        0px 0px 33.4px rgba(0, 0, 0, 0.05),
        0px 0px 80px rgba(0, 0, 0, 0.07);
    cursor: pointer;
}

#register__form a {
    margin: 1rem;
    font-size: 1.25rem;
    color: var(--color-green);
}