* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --color-green: #1BD741;
  --color-background: #F0F2F5;
  --color-backgroundBlack: #111B21;
  --color-container: #222E35;
}

html {
  font-size: 62.5%;
  background-color: var(--color-backgroundBlack);
}

.App{
  height: 92.4vh;
}

button{
  cursor: pointer;
}
